<p id="notice"><%= notice %></p>

<h1>About Me</h1>
<p><td>Linkedin: <%= link_to 'https://www.linkedin.com/in/ceciloops/'%></td></p>
<p><td>Github: <%= link_to 'https://github.com/ceciloops'%></td></p>
